@use "../../../styles.scss" as style;

section {
  @include style.dFlex(column, center, center, 64px);
  width: 100%;
  height: 100vh;
  .main-c {
    width: 90%;
    @include style.dFlex(column, center, center, 64px);
    img {
      width: 100%;
    }
    .buttons {
      @include style.dFlex(row, center, center, 16px);
      width: 100%;
      div {
        transition: all 250ms;
        border: #ffffff 1px solid;
        border-radius: 12px;
        padding: 4px;
        width: 180px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        text-align: center;
        &:hover {
          transition: all 250ms;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          cursor: pointer;
        }
        > span {
          font-size: 24px;
          background: linear-gradient(
            style.$primary-color,
            style.$secondary-color
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-radius: 12px;
          padding: 4px;
          width: 180px;
        }
      }
    }
  }
}
