<section>
  <div class="page">
    <div class="head">
      <div><mat-icon (click)="close()">arrow_back</mat-icon></div>
      <h1>Einstellungen</h1>
      <span></span>
    </div>
    <div class="settings-container">
      <div class="instruction-block">
        <span>Zeige Hitbox an</span>
      </div>
      <div class="instruction-block">
        <span (click)="toggleFPS()">Toggle FPS</span>
      </div>
      <div class="instruction-block">
        <span (click)="reload()">Zum Hauptmenü</span>
      </div>
    </div>
  </div>
</section>
