@use "../../../../styles.scss" as style;

section {
  padding: 16px;
  width: 600px;
  height: 400px;
  @include style.dFlex(column, space-between, center, 16px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.055),
    rgba(255, 255, 255, 0.3)
  );
  border: style.$primary-color 3px solid;
  border-radius: 14px;
  @media (max-width: 870px) or (max-height: 600px){
    width: 548px;
    height: 300px;
  }
  > .page {
    width: 100%;
    min-height: 320px;
    @include style.dFlex(column, space-between, center, 16px);
    @media (max-width: 870px) {
      min-height: 260px;
    }
    > .head {
      width: 100%;
      @include style.dFlex(row, flex-start, center, 64px);
      > h1 {
        text-align: center;
        width: 80%;
        font-size: 48px;
        background: linear-gradient(
          style.$primary-color,
          style.$secondary-color
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        @media (max-width: 870px) or (max-height: 600px){
          font-size: 32px;
          width: 60%;
        }
      }
      > span {
        width: 10%;
        height: 60px;
        @media (max-width: 870px) or (max-height: 600px){
          width: 20%;
        }
      }
      > div {
        @include style.dFlex(row, center, center);
        height: 60px;
        width: 10%;
        @media (max-width: 870px) or (max-height: 600px){
          width: 20%;
        }
        > mat-icon {
          border-radius: 50%;
          padding: 4px;
          font-size: 32px;
          height: 32px;
          width: 32px;
          background: linear-gradient(
            style.$primary-color,
            style.$secondary-color
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &:hover {
            border: 2px solid style.$primary-color;
            cursor: pointer;
          }
        }
      }
    }

    .instruction-block {
      @include style.dFlex(column, center, center);
      width: 100%;
      > span {
        @include style.dFlex(row, center, center, 8px);
        width: 100%;
        color: #1b1464;
      }
      > p {
        width: 60%;
        text-align: center;
        font-size: 24px;
        background: linear-gradient(
          style.$primary-color,
          style.$secondary-color
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  > .navigation {
    width: 100%;
    min-height: 30px;
    @include style.dFlex(row, space-evenly, center);
    > span {
      font-size: 16px;
      padding: 2px;
      background: linear-gradient(style.$primary-color, style.$secondary-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        border: 1px solid style.$primary-color;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

.page-boss {
  min-height: 355px !important;
  @media (max-width: 870px) or (max-height: 600px){
    min-height: 260px !important;
}
}

.boss {
  background-image: url("/manual/poisoned_bubb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -60px;
  @media (max-width: 870px) or (max-height: 600px){
    background-position-x: 0px;
}
}

.puffer {
  background-image: url("/manual/fin_slap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -60px;
  @media (max-width: 870px) or (max-height: 600px){
    background-position-x: 0px;
}
}

.jelly {
  background-image: url("/manual/jelly_bubb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -70px;
  @media (max-width: 870px) or (max-height: 600px){
    background-position-x: -10px;
}
}

app-key {
  @include style.dFlex(row, center, center);
}
