<section>
  <header *ngIf="!(isInvis && isPlayGamePressed)">
    <h1>The Adventure of Sharkie</h1>
  </header>
  <div
    class="game-container"
    [ngClass]="{
      'gaming': isPlayGamePressed,
      'instructions' : isInstructionsPressed,
      '': !isPlayGamePressed && !isInstructionsPressed
    }"
  >
    <div *ngIf="isChoosing" class="choseScreen">
      <div (click)="openManual()"><span >Anleitung</span></div>
      <div (click)="openInstructions()"><span >Steuerung</span></div>
      <div (click)="startGame()"><span >Start</span></div>
    </div>
    <app-instructions *ngIf="!isChoosing && !isPlayGamePressed && !isManual" (isClosing)="openInstructions()"></app-instructions>
    <app-manual *ngIf="!isChoosing && !isPlayGamePressed && isManual" (isClosing)="openManual()"></app-manual>
    <app-game *ngIf="isPlayGamePressed"></app-game>
  </div>
  <footer>
    <a [routerLink]="['/imprint']">Impressum</a>
    <div><span>&#169;</span>Sebastian Wolff</div>
    <a [routerLink]="['/policy']">Datenschutz</a>
  </footer>
</section>

<div class="rotate-device" *ngIf="isMobilePortrait" [@fadeInOut]>
  <p>Hey, rotate your device!</p>
</div>
