body {
    margin: 0px;
    background-color: #141414;
}


@mixin dFlex($fd: row, $jc: center, $ai: center, $gap: 0) {
    display: flex;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $ai;
    gap: $gap;
}