<div class="single-key" *ngIf="!isWASDBlock()" [ngClass]="isSpace() ? 'space-height' : ''" 
[ngStyle]="{'width': keyWidth() + 'px', 'height': keyHeight() + 'px'}">
  <p>{{ key() }}</p>
</div>

<div class="wasd-block" *ngIf="isWASDBlock()">
  <div [ngStyle]="{'width': keyWidth() + 'px', 'height': keyHeight() + 'px'}" class="single-key">
    <p>W</p>
  </div>
  <div class="asd-cont">
    <div [ngStyle]="{'width': keyWidth() + 'px', 'height': keyHeight() + 'px'}" class="single-key">
      <p>A</p>
    </div>
    <div [ngStyle]="{'width': keyWidth() + 'px', 'height': keyHeight() + 'px'}" class="single-key">
      <p>S</p>
    </div>
    <div [ngStyle]="{'width': keyWidth() + 'px', 'height': keyHeight() + 'px'}" class="single-key">
      <p>D</p>
    </div>
  </div>
</div>
